@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.container{
  @apply max-w-[1320px] mx-auto px-4
}
html{
  scroll-behavior: smooth;
}
@theme{
  --color-primary:#7E4AE7;
  --color-White:#CBCCCC;
  --color-dark:#0F0715;
  --color-Text:#2A1454;
  --color-Text2:#7645DA;
  --color-Section:#F6F3FC;
}
.dark{
  @apply bg-dark 
}